<section>
    <div class="expensies">
        <h1>Total Expense</h1>
        <h2 class="red">
            <%= locals.transactions.filter( tr => tr.category !== 'Income').reduce((acc,cur) => acc+cur.amount, 0)%>
        </h2>
    </div>
    <div class="incomes">
        <h1>Total Income</h1>
        <h2 class="green">
            <%= locals.transactions.filter( tr => tr.category === 'Income').reduce((acc,cur) => acc+cur.amount, 0)%>
        </h2>
    </div>
</section>