<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="../stylesheets/categories.css">
    <script src="../javascripts/categories.js" defer></script>
</head>

<body>
    <section class="categories-container">
        <form class="categories-form">
            <label for="category">Choose category</label>
            <select name="category" id="category">
                <option></option>
                <% for(let c of locals.categories){ %>
                    <option id="<%= c.id %>"><%= c.name %></option>
                    <% } %>
            </select>
            <label>Edit name or delete</label>
            <input type="text" id="newname">
            <div class="buttons">
                <button type="submit" id="save">Save</button>
                <button type="submit" id="delete">Delete</button>
            </div>
        </form>
        <div id="result"></div>
        <a href="/">Back</a>
    </section>
</body>

</html>