<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Manager</title>
    <script src="javascripts/script.js" defer></script>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <div class="container">
        <main class="main">
            <form class="form-add">
                <input name="action" id="action-ex" required="required" value="expense" type="radio" checked="checked">
                <label for="action-0">Expense</label>
                <input name="action" id="action-in" required="required" value="income" type="radio">
                <label for="action-1">Income</label>
                <label for="amount" class="formbuilder-text-label">Amount<span>*</span></label>
                <input type="tel" name="amount" id="amount" required="required">
                <label for="category" id="category-label">Category</label>
                <select name="category" id="category">
                    <% for(let c of locals.categories){ %>
                        <option>
                            <%= c.name %>
                        </option>
                        <% } %>
                </select>
                <label for="date">Date</label>
                <input type="datetime-local" name="date" id="date">
                <label for="comment">Comment</label>
                <textarea name="comment" id="comment"></textarea>
                <button type="submit" class="btn">Add</button>
            </form>
            <%- include('partials/table') %>
        </main>
        <aside class="aside">
            <%- include('partials/aside') %>
        </aside>
    </div>
</body>

</html>