* {
    font-size: 1.5rem;
}

.edit-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
.form-edit {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: center;
}