* {
    font-size: 1.5rem;
}

.title {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
.form-edit {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: center;
}